{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/test.js' %}"></script>
</head>
<body>
<h1>Doc Gisha</h1>
<p>Baby, I have been thinking.I love it when you go crazy.</p>
<img src="{% static 'img/4.jpeg'  %}">
<img src="{% static 'img/5.jpeg'  %}">
<img src="{% static 'img/6.jpeg'  %}">
<img src="{% static 'img/7.jpeg'  %}">
<img src="{% static 'img/13.jpeg'  %}">

</body>
</html>